.case-list {
  list-style: none;

  .case {
    cursor: pointer;

    td:first-child {
      padding-left: 0.5rem;
    }
    td:last-child {
      text-align: right;
      padding-right: 0.5rem;
    }
    .button {
      @extend .button-small;
      margin-bottom: 0;
    }
    &:hover {
      background: $color-hover-bg;
    }
  }

}

.load-more {
  text-align: center;
  button {
    @extend .button-clear;
    width: 100%;

    &:hover {
      background: $color-hover-bg;
    }
  }
}