.checkbox-list {
  position: relative;

  .toggle-indicator {
    position: absolute;
    right: 0;
    top: 0.5rem;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    background: $color-hover-bg;
    padding: $gutter;
    li {
      margin-bottom: 0;
    }
    hr {
      margin: $gutter/2 0;
      border-color: $color-subtle;
    }
  }

  legend {
    cursor: pointer;
    width: 100%;
  }

  label {
    display: inline-block;
    padding-left: 1rem;
    font-weight: normal;
  }
}