.sidebar {
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.1);

  .tabs {
    li {
      list-style: none;
      margin: 0;
      &.selected {
        background: $color-primary;
        a {
          color: white;
        }
      }
    }
    a {
      padding: $gutter;
      display: block;
    }
  }

  form {
    padding: $gutter;

    button, .button {
      @extend .button-small;
    }
  }
}
