html {
  font-size: $base-font;
}

.button-small {
  height: 2.2rem;
  line-height: 2.2rem;
  padding: 0 1rem;
  font-size: 0.9rem;
}

.nowrap {
  white-space: nowrap;
}

.timestamp {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: $color-subtle;
}